*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* Header Styles */
.header{
  display: flex;
  justify-content: center;
  background: #2C3945;
  height: 80px;
}
.header h1{
  align-self: center;
  color: #EAEBEC;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.newsletter h2{
  color: #2C3945;
  margin-top: 30px;
  font-size: 1.5em;
}
.newsletter p{
  width: 80%;
  font-size: 1.2em;
  color: #C6CACD;
  margin-top: 20px;
}
.hr1 {
  border-top: 3px solid #000;
  margin: 45px 10px 0 10px;
}
.hr2{
  border-bottom: 1px solid #000;
  margin: 2px 10px 0 10px;
}

/* Form Styles */
.h2-contact{
  align-self: flex-start;
  margin: 25px 0 0 10px;
}


/* DRY Classes */
.flexbox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flex-child{
  align-self: center;
  /* outline: 1px solid red; */
}